#faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom:50px;
    border-bottom:10px rgba(255, 255, 255, 0.1) solid;
}
.div_upperblockfuch{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.blocklvl1_main{
width: 90%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: rgb(45,45,45);
padding: 0 20px;
box-sizing: border-box;
margin-top: 10px;
height: 71px;
}
.blocklvl1_main:hover{
background-color: rgb(78,78,78);
}
.blocklvl1_main.active{
background-color: rgb(78,78,78);
}
.hide_block_main2{
    width: 90%;
    background-color: rgb(45,45,45);
    padding:  0 20px;
    box-sizing: border-box;
    margin: 2px;
 display: flex;
 align-items: center;
 flex-direction: column;
 padding: 10px;
}
.blocklvl2_main{
display: flex;
flex-direction: column;
align-items: center;

}
.p_fromHeader{
    text-align: left;
    width: 90%;
}