<section id="faq">
    <h1 class="h1_fromHeader">Поширені запитання</h1>
    <div class="div_upperblockfuch">
            <div class="blocklvl1_main" (click)="seych = 1" (click)="ChooseMenu(1)" (click)="HideMenuNumberZ(1)" (click)="proshl = 1" ><p class="p_fromHeader ">Що таке Netflix?</p><svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="default-ltr-cache-v1ob21 e164gv2o4" data-name="Add" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M11 2V11H2V13H11V22H13V13H22V11H13V2H11Z" fill="white"></path></svg></div>
        <div class="hide_block_main2" *ngIf="HideMenu == 1">
            <div class="blocklvl2_main"><p class="p_fromHeader " >Netflix — це сервіс потокового передавання відео
                , що дає змогу дивитися різноманітні відзначені 
                нагородами телесеріали, фільми, аніме, 
                документалістику й інший контент на тисячах 
                пристроїв із підключенням до Інтернету.</p></div>
            <div class="blocklvl2_main"><p class="p_fromHeader">Ви можете дивитися скільки завгодно й коли завгодно
                без реклами, і все це за єдиною низькою щомісячною
                 ціною. Ви завжди знайдете для себе щось нове.
                  Крім того, ще більше телесеріалів і фільмів
                   додається щотижня!</p></div>
        </div>
    </div>
    <div class="div_upperblockfuch">
     
            <div class="blocklvl1_main" (click)="seych = 2" (click)="ChooseMenu(2)" (click)="HideMenuNumberZ(2)" (click)="proshl = 2"><p class="p_fromHeader">Скільки коштує підписка Netflix?</p><svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="default-ltr-cache-v1ob21 e164gv2o4" data-name="Add" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M11 2V11H2V13H11V22H13V13H22V11H13V2H11Z" fill="white"></path></svg></div>
        
        <div class="hide_block_main2" *ngIf="HideMenu == 2">
            <div class="blocklvl2_main"><p class="p_fromHeader">Дивіться Netflix на смартфоні, планшеті, Smart TV,
                ноутбуці або пристрої потокової передачі за
                 фіксованою щомісячною ціною. Плани від 4,99
                  EUR до 9,99 EUR на місяць. Без доплат й угод.</p></div>
        </div>
    </div>
    <div class="div_upperblockfuch">
    
            <div class="blocklvl1_main" (click)="seych = 3" (click)="ChooseMenu(3)" (click)="HideMenuNumberZ(3)" (click)="proshl = 3"><p class="p_fromHeader">Де можна дивитися контент?</p><svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="default-ltr-cache-v1ob21 e164gv2o4" data-name="Add" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M11 2V11H2V13H11V22H13V13H22V11H13V2H11Z" fill="white"></path></svg></div>
        
        <div class="hide_block_main2" *ngIf="HideMenu == 3">
            <div class="blocklvl2_main"><p class="p_fromHeader">Дивіться Netflix на смартфоні, планшеті, Smart TV,
                ноутбуці або пристрої потокової передачі за
                 фіксованою щомісячною ціною. Плани від 4,99
                  EUR до 9,99 EUR на місяць. Без доплат й угод.</p></div>
        </div>
    </div>
    <div class="div_upperblockfuch">
    
            <div class="blocklvl1_main" (click)="seych = 4" (click)="ChooseMenu(4)" (click)="HideMenuNumberZ(4)" (click)="proshl = 4"><p class="p_fromHeader">Як скасувати підписку?</p><svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="default-ltr-cache-v1ob21 e164gv2o4" data-name="Add" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M11 2V11H2V13H11V22H13V13H22V11H13V2H11Z" fill="white"></path></svg></div>
        
        <div class="hide_block_main2" *ngIf="HideMenu == 4">
            <div class="blocklvl2_main"><p class="p_fromHeader">Netflix надає гнучкі умови. Жодних надокучливих угод 
                чи зобов’язань. Скасувати підписку можна всього за 
                два кліки. Жодних комісій за скасування. Оформити або 
                скасувати підписку можна будь-коли.</p></div>
        </div>
    </div>
    <div class="div_upperblockfuch">
    
            <div class="blocklvl1_main" (click)="seych = 5" (click)="ChooseMenu(5)" (click)="HideMenuNumberZ(5)" (click)="proshl = 5"><p class="p_fromHeader">Що можна подивитися на Netflix?</p><svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="default-ltr-cache-v1ob21 e164gv2o4" data-name="Add" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M11 2V11H2V13H11V22H13V13H22V11H13V2H11Z" fill="white"></path></svg></div>
        
        <div class="hide_block_main2" *ngIf="HideMenu == 5">
            <div class="blocklvl2_main"><p class="p_fromHeader">Netflix пропонує обширну бібліотеку художніх фільмів,
                документалістики, телесеріалів, аніме, відзначеного
                 нагородами оригінального контенту тощо. Дивіться 
                 скільки завгодно й коли завгодно.</p></div>
        </div >
    </div>
    <div class="div_upperblockfuch">
    
            <div class="blocklvl1_main" (click)="seych = 6" (click)="ChooseMenu(6)" (click)="HideMenuNumberZ(6)" (click)="proshl = 6"><p class="p_fromHeader">Netflix підходить для дітей?</p><svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="default-ltr-cache-v1ob21 e164gv2o4" data-name="Add" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M11 2V11H2V13H11V22H13V13H22V11H13V2H11Z" fill="white"></path></svg></div>
        
        <div class="hide_block_main2" *ngIf="HideMenu == 6">
            <div class="blocklvl2_main"><p class="p_fromHeader">Інтерфейс Netflix для дітей включено у вашу підписку. 
                Діти можуть насолоджуватися телесеріалами й фільмами 
                для всієї родини у своєму профілі, а батьки при цьому 
                контролюватимуть такий контент.</p></div>
            <div class="blocklvl2_main"><p class="p_fromHeader">Дитячі профілі захищаються батьківським контролем із
                PIN-кодом. Таким чином ви зможете ставити вікові
                 обмеження на дитячий контент і блокувати певні 
                 найменування, щоб дитина їх не переглядала.</p></div>
        </div>
    </div>
</section>