<main>
    <section id="in_mainbox">
<section class="doblebox">
    <div class="main_contentbox">
        <div class="fuchers_main_1">
        <h1 class="h1_fromHeader">Дивіться на телевізорі</h1>
        <p class="p_fromHeader">Дивіться на Smart TV, Playstation, Xbox, Chromecast, Apple TV, Blu-ray-програвачах тощо.</p>
        </div>
        <div class="picture_contentbox">
            <img src="../../assets/imgs/fuechers-purpose/tv.png">
            <div class="videobox_main">
                <video autoplay muted loop>
                    <source src="../../assets/video/fuechers-purpose/video-tv-0819.m4v">
                </video>
            </div>
        </div>
    </div>
    <div class="main_contentbox">
        <div class="fuchers_main_1">
        <h1 class="h1_fromHeader">Завантажуйте контент і дивіться його офлайн</h1>
        <p class="p_fromHeader">Легко зберігайте улюблені телесеріали й фільми, щоб дивитися їх будь-коли.</p>
        </div>
        <div class="picture_contentbox">
           <img src="../../assets/imgs/fuechers-purpose/mobile-0819.jpg">
            <div id="main_block3_contentbox">
                <div id="main_block3_picturebox" style="padding-left: 10px;">
                    <img src="../../assets/imgs/fuechers-purpose/boxshot.png">
                </div>
                <div id="main_block3_divText">
                    <h2>Дивні дива</h2>
                    <h3>Завантаження...</h3>
                </div>
                <div id="main_block3_animatedPicture" style="padding-right: 10px;"></div>
            </div>
        </div>
    </div>
</section>
<section class="doblebox">
    <div class="main_contentbox">
        <div class="fuchers_main_1">
        <h1 class="h1_fromHeader">Дивіться будь-де</h1>
        <p class="p_fromHeader">Дивіться фільми й телесеріали без обмежень на смартфоні, планшеті, ноутбуці й телевізорі.</p>
        </div>
        <div class="picture_contentbox">
            <img src="../../assets/imgs/fuechers-purpose/device-pile.png">
            <div class="videobox_main v_m2">
                <video autoplay muted loop>
                    <source src="../../assets/video/fuechers-purpose/video-devices.m4v">
                </video>
            </div>
        </div>
    </div>
    <div class="main_contentbox">
        <div class="fuchers_main_1">
        <h1 class="h1_fromHeader">Створюйте профілі для дітей</h1>
        <p class="p_fromHeader">Ваші діти зможуть мандрувати країною фантазії разом з улюбленими персонажами в спеціальних профілях, які входять у вартість підписки.</p>
        </div>
        <div class="picture_contentbox">
            <img src="../../assets/imgs/fuechers-purpose/AAAABYCXw_12Yaa0lpF1o_Zh8r0KRB19oFmcZJ_eyPH8-ZvbuV6qHoXTOy-6jlkV51Y600PlvKcrpv8_aUoBdmFlDfXkv2DCzgFBAP1F.png">
        </div>
    </div>
</section>
    </section>
</main>