<section>
    <p class="p_fromHeader">Маєте запитання? Зателефонуйте за номером <a style="text-decoration: underline;color: white;" href="tel:0800-509-416">0800-509-416</a></p>
    <div id="mainbox">
        <div class="mainblock">
            <a class="lickstyle" href="https://help.netflix.com/support/412">Поширені запитання</a>
            <a class="lickstyle" href="https://help.netflix.com/">Довідковий центр</a>
            <a class="lickstyle" href="https://www.netflix.com/youraccount">Обліковий запис</a>
            <a class="lickstyle" href="https://media.netflix.com/">Медіацентр</a>
            <a class="lickstyle" href="http://ir.netflix.com/">Зв’язки з інвесторами</a>
            <a class="lickstyle" href="https://jobs.netflix.com/jobs">Вакансії</a>
            <a class="lickstyle" href="https://www.netflix.com/watch">Способи перегляду</a>
            <a class="lickstyle" href="https://help.netflix.com/legal/termsofuse">Умови використання</a>
        </div>
        <div class="mainblock">
            <a class="lickstyle" href="https://help.netflix.com/legal/privacy">Конфіденційність</a>
            <a class="lickstyle" href="https://www.netflix.com/ua/#">Налаштування файлів cookie</a>
            <a class="lickstyle" href="https://help.netflix.com/legal/corpinfo">Корпоративна інформація</a>
            <a class="lickstyle" href="https://help.netflix.com/contactus">Зв’язатися з нами</a>
            <a class="lickstyle" href="https://fast.com/">Перевірка швидкості</a>
            <a class="lickstyle" href="https://help.netflix.com/legal/notices">Юридичні повідомлення</a>
            <a class="lickstyle" href="https://www.netflix.com/ua/browse/genre/839338">Тільки на Netflix</a>
        </div>
    </div>
    <p class="p_fromHeader">Netflix Україна</p>
</section>